#Struktur data tuple

Tuple adalah jenis dari struktur data yang tidak dapat diubah elemennya. umumnya tuple digunakan untuk data yang bersifat sekali tulis, dan dapat dieksekusi lebih cepat. Tuple didefinisikan dengan kurung dan elemen yang dipisahkan dengan koma.

In [1]:
#contoh tuple
T1=(1, "dua",True, 1+2j)
print("ini adlaah tuple:", T1)

ini adlaah tuple: (1, 'dua', True, (1+2j))

In [2]:
#menampilkan tipe struktur data
type(T1)

tuple

Latihan 1

In [3]:
#buatlah tuplemu sendiri
M1=(2, 30, False, 3+2j)
print("ini adalah tuple saya:",M1)
type(M1)

ini adalah tuple saya: (2, 30, False, (3+2j))

tuple

sifat-sifat tuple

In [5]:
#terurut/ordered
T1[0:3]

(1, 'dua', True)

In [4]:
#tidak bisa diganti/immutable
T1[2]="manusia"

TypeError: ignored

In [6]:
#dapat diindeks/slicing
print("elemen kedua dari tuple T1 adalah:", T1[1])

elemen kedua dari tuple T1 adalah: dua

In [7]:
#dapat diijinkan duplikasi
T2=(3,2.4, True, 2.4)
T2

(3, 2.4, True, 2.4)

menggabungkan tuple

In [8]:
#menggabungkan tuplel
T3=T1+T2
T3

(1, 'dua', True, (1+2j), 3, 2.4, True, 2.4)

latihan 2

In [9]:
#buatlah tuple lalu gabungkan 2 tuple yang telah kamu buat
M2=(1,1,True,2+3j,3)
M3=M1+M2
M3

(2, 30, False, (3+2j), 1, 1, True, (2+3j), 3)